body {
  background:#7FFFD4;
  display:block;
  margin:0;
  padding:0;
  display: flex;
  justify-content: center;
}

.header {
  position:fixed;

  width:100%;
  height:200px;
  padding-bottom: 20px;
  padding-left:60px;
  padding-right:60px;
  background:#ffff93;
  text-align:center; 
  
  
}

.main {
  padding-top:17%;
  padding-left:60px;
  padding-right:60px;
  padding-bottom:120px;
  height:100%;
  font-family: 'HANBatang';
    height:40px; 
  text-align:center;
  line-height: 210%;
}

  #bt {
    background-color:#9743ff;
    color:#7FFFD4;
    font-family: 'HANBatang';
    height:40px; 
    width:130px;
  }


button + button {

  margin-left: 15%;
  
  }

#bt:hover {
  background-color:#ff19ff;
  transition: 0.2s;
}

#f1 {
  font-family :"Lucida Console", "Courier New", monospace;
  font-size: 70px;
  color: #6a00ff;
}

#f1:hover {
  color:#ff19ff;
  transition: 0.2s;
}

html{
  cursor: url(cursor.png), default
}

@font-face {
  font-family: 'HANBatang';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/HANBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
